span.cell.semble a {
  display: block;
  /* font color should follow the text color that zotero sets */
  color: inherit;
  width: 100%;
  text-align: center;
  cursor: pointer !important;
  text-decoration: none;

  &:hover {
    text-decoration: underline !important;
  }
}
